:root {
    --background-color: #ffffff;
    --background-footer: #2F303A;
    --background-section-three: #F5F4FA;
    --text-color: #212121;
    --under-text-color: #757575;
    --animation-links: #2196F3;
    --animation-bottons: #2196F3;
    --buttons-background: #F5F4FA;
    --animation-button-focus:#ffffff;
    --logo: #2196F3; 
    --log:#ffffff;
    --address:#ffffff;
    --info:rgba(255, 255, 255, 0.6);
    --shadow-title: #ffffff;
    --background-hero: #2F303A;
    --hero-color:#ffffff;
    --hero-button-background:#2196F3;
    --hero-button-color:#ffffff;
    --border-name:#ffffff;

}
body{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--text-color);
    width: 1600px;
 }
 a {text-decoration: none}
 ul{list-style: none}
    h1,
    h2,
    h3,
    h4, 
    h5,
    h6,
    ul,
    p {margin: 0; padding: 0}
    img{
        display: block;
        margin-right: 0;
    }
.conteiner  {
    width: 1170px;
    margin-left: 215px;
    margin-right: 215px;
    

    }
 /* HEADER */
 .header{
    display:flex;
    align-items: center;
    }
 .nav{
     display:flex;
     align-items: center;
 }
 .menu-list{
     display: flex;
     padding-left: 0;
     margin-right: 331px;
}
 .item{
     padding-bottom: 32px;
     padding-top: 32px;
}
 .item:not(:first-child) {
     margin-left: 50px;
}
 .item:first-child{
     margin-left: 93px;
 }
 .contacts-list{
     display: flex;
     padding-left: 0;
 }
 .header-contact:last-child{
     margin-left: 50px;
 }
 .web, .studio{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19; 
    color: var(--text-color);
    letter-spacing: 0.03em;
}
 .web{
     color:var(--logo);
     letter-spacing: 0.03em;
 }
 .menu-element{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:inherit;
 }
 .menu-element:focus, .menu-element:hover {
     color:var(--animation-links);

 }
 .menu-element-active{
     color: var(--animation-links);
 }
 .header-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--under-text-color);}
.header-contact:focus, .header-contact:hover {
        color:var(--animation-links);

}
 /* FOOTER */
.footer{
    background-color: var(--background-footer);
    margin-right: -200px;
    margin-left: -200px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.card-footer{
    margin-left: 415px;
}
 .studio-footer{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--log);
    
 }
.address{
    font-style: normal; /*destroed italic */
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--log);
    margin-top: 20px;
    margin-bottom: 9px;
}
.info{
    font-style: normal; /*destroed italic */
    font-size: 14px;
    line-height: 1.71;
    color: var(--info);
}
.footer-item{
margin-top: 9px;
}
.info:focus, .info:hover{
    color:var(--animation-links);
}

 /* INDEX-MAIN */
 /* hero-section */
 .section{
     padding-bottom: 94px;
     padding-top: 94px;
 }
 .shadow-title{
     color: var(--shadow-title);
 }
 .hero{
     background-color: var(--background-hero);
     color: var(--hero-color);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 1600px;
     padding-top: 200px;
     padding-bottom: 200px;
     margin-left: -200px;
     margin-right: -200px;
 }
 .hero-text{
     margin-bottom: 30px;
 }
 .hero-text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
 .hero-button{
    font-family: inherit;
     background-color: var(--hero-button-background);
     color: var(--hero-button-color);
     rgba (0, 0, 0, 0.15);
     font-weight: bold;
     font-size: 16px;
     line-height: 1.87;
     cursor:pointer;
     padding: 10px 32px 10px 32px;
     border-radius: 4px;
     letter-spacing: 0.06em;
}
/* section-one */
.list-first{
    display: flex;
    letter-spacing: 0.03em;
    padding-left: 0;
    padding-right: 0;
}
.list-first .item-first{
    width: 270px;
}
.list-first .item-first:not(:first-child){
    margin-left: 30px;
}
.title-first{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}
.text-first{
    font-size: 14px;
    line-height: 1.71;
    color: var(--under-text-color);
}
/* section-two */
.second-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.second-list{
    display: flex;
}
.second-list .img:not(:last-child){
    margin-right: 30px;
}

/* section-three */
.section-three{
background-color: var(--background-section-three);align-items: center;
width: 1600px;
margin-left: -200px;
margin-right: -200px;
}
.card-three{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-three{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.names-list{
    display: flex;
}
.names-list .name:not(:last-child){
        margin-right: 30px;
    }
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--border-name);
    padding-bottom: 30px;
}
.title-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}
.name-info{
    font-size: 16px;
    line-height: 1.18;
    color: var(--under-text-color);
}
/* PORTFOLIO-MAIN */
/* buttons */
.portfolio-menu-item{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: var(--buttons-background);
    cursor:pointer;
}
.active{
    background-color: var(--animation-bottons);
    color: var(--animation-button-focus); 
}
.portfolio-menu-item:hover,
.portfolio-menu-item:focus{
    background-color: var(--animation-bottons);
    color: var(--animation-button-focus);
}
/* portfolio */
.portfolio-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--text-color);
    
}
.portfolio-text{
    font-size: 16px;
    line-height: 1.87;
    color: var(--under-text-color);
}













